.notification{
    background-color: #80de7d;
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 43%;
    margin-right: 43%;
 
}